@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Sedgwick+Ave+Display&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
    background-color:#e3dfde;
    color: black;
}

h1{
    margin-top: 0;
    padding-top: 10%;
}

.brand-logo{
    font-family: 'Sedgwick Ave Display';
}

.form-pad-top{
    margin-top: 10%;
}

.welcome{
    height: 100vh;
    width: 100%;
    background: url("img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    color: #FEE;
}
.greet{
    font-family: 'Dancing Script';
}

#mobile{
    background-color: #e3dfde;
}

.card-mobile{
    width: 50%;
    margin: auto;
}

.chall-list{
    margin-top:20px;
}

.list-categories .btn{
    display: block;
    margin-top: 15px;
}
.chall-card{
    display: inline-block;
    margin-right: 10px;

}
.chall-card .card{
    width: 328px;
    text-align: center;
}
.chall-container{
    height: 80vh;
    overflow-y: scroll;
}

.list-categories .btn{
    background-color: #444242;
}

.clicked{
    background-color: #26a69a !important;
}

.flag-submit button{
    width: 100%;
}

table{
    margin-top: 20px;
}

.bud{
    padding-top: 30px;
}

#chart{
    height: 200px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .card-mobile{
        width: 100%;    
        margin: auto;
    }    
}